.myCustomTile {
	
	height: 8rem;
	width: 16rem;        
	
}

.myFormTile{
	
}

.myIconTabFilterContent{
	background-color:#3BB2AC;
}

.sapUiFormResLayout.sapUiFormBackgrTranslucent>div {
	
}

.sapMSplitContainerHideMode>.sapMSplitContainerDetail .sapMITB.sapUiResponsiveContentPadding>.sapMITBContainerContent>.sapMITBContent, .sapMITB.sapUiResponsiveContentPadding>.sapMITBContainerContent>.sapMITBContent{
	background-color:#3BB2AC;
}


.sapMOHRTitleTextContainer{
	font-size: 1rem;
}

.sapMObjectNumberText {
    font-size: 0.875rem !important; 
}

.sapMOHR {
    padding: 0.2rem 1rem 0 1rem;

}